# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import os as os
import pandas as pd
import numpy as np
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources","schools_complete.csv")
student_data_to_load = Path("Resources","students_complete.csv")
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
#Calculate the total number of unique school.
school_data_df = school_data

total_rows_school_no_header = len(school_data)

school_count = total_rows_school_no_header

print(school_count)

15

In [3]:
# Calculate the total number of students

total_rows_students = len(student_data)

student_count = total_rows_students
#print the student_count
print(student_count)

39170

In [4]:
#Calculate the total budget
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [5]:
# Calculate the average (mean) math score.

average_math_score = student_data['math_score'].mean()
print(average_math_score)

78.98537145774827

In [6]:
#Calculate the average (mean) reading score

average_reading_score = student_data["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage
print(passing_math_percentage)

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count) * 100
passing_reading_percentage 
print(passing_reading_percentage)

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

print(overall_passing_rate)

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    'total schools':[school_count],
    'Total Students':[student_count],
    'Total Budget':[total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    'Pass Math %': [passing_math_percentage],
    'Pass Reading %': [passing_reading_percentage],
    'Overall_passing_rate':[overall_passing_rate]
    })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


# Display the DataFrame
district_summary

,total schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Pass Math %,Pass Reading %,Overall_passing_rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
# Rename  size to Total Students for later calculations and display.
per_school_counts = school_data[['school_name', 'size']].set_index('school_name').rename(columns={'size': 'Total Students'})
per_school_counts

                       Total Students
school_name
Huang High School                2917
Figueroa High School             2949
Shelton High School              1761
Hernandez High School            4635
Griffin High School              1468
Wilson High School               2283
Cabrera High School              1858
Bailey High School               4976
Holden High School                427
Pena High School                  962
Wright High School               1800
Rodriguez High School            3999
Johnson High School              4761
Ford High School                 2739
Thomas High School               1635

In [13]:
# Calculate the total school budget and per capita spending per school from school_data

per_school_budget = school_data[['school_name','budget']]
                                 
# Calculate per capita spending
per_school_capita = per_school_budget['budget']/school_data['size']

print(per_school_capita)
print(per_school_budget)

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64
              school_name   budget
0       Huang High School  1910635
1    Figueroa High School  1884411
2     Shelton High School  1056600
3   Hernandez High School  3022020
4     Griffin High School   917500
5      Wilson High School  1319574
6     Cabrera High School  1081356
7      Bailey High School  3124928
8      Holden High School   248087
9        Pena High School   585858
10     Wright High School  1049400
11  Rodriguez High School  2547363
12    Johnson High School  3094650
13       Ford High School  1763916
14     Thomas High School  1043130

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name').agg({'math_score':'mean'})

per_school_math = per_school_math['math_score'].squeeze()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [15]:
# Calculate the average test scores per school from school_data_complete
per_school_reading = school_data_complete.groupby('school_name').agg({'reading_score':'mean'})
per_school_reading = per_school_reading['reading_score'].squeeze()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [19]:
print(per_school_counts)

                       Total Students
school_name
Huang High School                2917
Figueroa High School             2949
Shelton High School              1761
Hernandez High School            4635
Griffin High School              1468
Wilson High School               2283
Cabrera High School              1858
Bailey High School               4976
Holden High School                427
Pena High School                  962
Wright High School               1800
Rodriguez High School            3999
Johnson High School              4761
Ford High School                 2739
Thomas High School               1635

In [20]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / per_school_counts * 100
per_school_passing_reading = students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [21]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({
                 'School Type': school_types,
                 'Total Students':per_school_counts,
                 'Total School Budget': per_school_budget,
                 'Per Student Budget': per_school_budget / per_school_counts,
                 'Average Math Score': per_school_math,
                 'Average Reading Score': per_school_reading,
                 '% Passing Math': school_students_passing_math / per_school_counts * 100,
                 '% Passing Reading': school_students_passing_reading / per_school_counts * 100,
                 '% Overall Passing': school_students_passing_math_and_reading / per_school_counts * 100
})



# #set index to school names
# Set index to school names
per_school_summary.index = school_names

# # Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:.2f}".format)


# Display the DataFrame
per_school_summary

ValueError: Data must be 1-dimensional, got ndarray of shape (15, 1) instead

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)
top_schools.head(5)

# Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)
bottom_schools.head(5)

# Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby('school_name')['math_score'].mean().reset_index()
tenth_grade_math_scores = tenth_graders.groupby('school_name')['math_score'].mean().reset_index()
eleventh_grade_math_scores = eleventh_graders.groupby('school_name')['math_score'].mean().reset_index()
twelfth_grade_math_scores = twelfth_graders.groupby('school_name')['math_score'].mean().reset_index()

# Merge the scores into a single DataFrame
math_scores_by_grade = ninth_grade_math_scores.merge(
                                    tenth_grade_math_scores, on='school_name', suffixes=('_9th', '_10th')).merge(
                                    eleventh_grade_math_scores, on='school_name').merge(twelfth_grade_math_scores, on='school_name', suffixes=('', '_12th'))

# Rename the columns for clarity
math_scores_by_grade.columns = ['School_name', '9th grade Math', '10th grade Math', '11th grade Math', '12th grade Math']

# Display the DataFrame
math_scores_by_grade

# Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby('school_name')['reading_score'].mean().reset_index()
tenth_grader_reading_scores = tenth_graders.groupby('school_name')['reading_score'].mean().reset_index()
eleventh_grader_reading_scores = eleventh_graders.groupby('school_name')['reading_score'].mean().reset_index()
twelfth_grader_reading_scores =twelfth_graders.groupby('school_name')['reading_score'].mean().reset_index()
 
# # Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =ninth_grade_reading_scores.merge(
                                    tenth_grader_reading_scores, on='school_name', suffixes=('_9th', '_10th')).merge(
                                    eleventh_grader_reading_scores, on='school_name').merge(twelfth_grader_reading_scores, on='school_name', suffixes=('', '_12th'))
                             
# Minor data wrangling.        
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,spending_bins,labels=labels,right=False)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
                                         
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame(
        {
                                'Spending Math Scores':spending_math_scores,
                                'Spending Reading Scores':spending_reading_scores,
                                'Spending Passing Math':spending_passing_math,
                                'Spending Passing Reading':spending_passing_reading,
                                'Overall Passing Spending':overall_passing_spending,
                                })

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [ ]:
#Categorize the spending based on the bins

#turn total students into a string
per_school_summary["Total Students"] = per_school_summary["Total Students"].astype(str)

# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["Total Students Bins"] = pd.cut(per_school_counts,size_bins,labels=labels,right=False)

per_school_summary

In [ ]:
per_school_counts=pd.DataFrame({
                        "Total Students":

In [ ]:
#Categorize the spending based on the bins

#turn total students into a string
per_school_counts['School Size'] = pd.cut(per_school_counts["Total Students Bins"],bins=size_bins,label=labels)

size_math_scores = per_school_counts.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = per_school_counts.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = per_school_counts.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = per_school_counts.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = per_school_counts.groupby("School Size")["% Overall Passing"].mean()


# Create the summary DataFrame
size_summary = pd.DataFrame({
    "School Size": size_math_scores.index,
    "Average Math Score": size_math_scores.values,
    "Average Reading Score": size_reading_scores.values,
    "% Passing Math": size_passing_math.values,
    "% Passing Reading": size_passing_reading.values,
    "% Overall Passing": size_overall_passing.values
})
                                        
size_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["Total Students"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["Total Students"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["Total Students"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["Total Students"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["Total Students"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).

# Use the scores above to create a new DataFrame called `size_summary`
size_summary=pd.DataFrame({
                "School Size": per_school_counts.index, 
                "Average Math Score": size_math_scores,
                "Average Reading Score" : size_reading_scores,
                "% Passing Math": size_passing_math,
                "% Passing Reading":size_passing_reading,
                "% Overall Passing": size_overall_passing
        }
)
#per_school_summary.set_index("Total Students Bins", inplace=True)

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame ({
                    "Mean Math Score by Type":average_math_score_by_type,
                    "Mean Reading Score by Type":average_reading_score_by_type,
                    "Mean Percentage passing math by type":average_percent_passing_math_by_type,
                    "Mean percentage Passing Reading by Type":average_percent_passing_reading_by_type
})
                             
# Display results
type_summary